/* Universal Styles */
* {    
    font-family: 'Mulish', sans-serif;
}

.bold {
    font-weight: bolder;
    background-image: linear-gradient(90deg, #4cb9643f, #a0eade3d);
}

/* Landing Page */
#embedded-substack {
    top: 100px;
    width: 500px;
    margin: 0 auto;
    position: relative;
}

#embedded-tweet {
    top: 50px;
    text-align: center;
    position: relative;
}

.newsletter-note {
    margin-top: 80px;
    color: grey;
    text-align: center;
    position: relative;
}

#newsletter-contact {
    font-size: 12px;
}

#newsletter-copyright {
    font-size: 8px;
    margin: 0;
}

@media (max-width: 600px) {
    .newsletter-note { display: none; }
}

#landingBackgroundElement1 {
    width: 20%;
    height: 15%;
    top: 5%;
    left: 5%;
    position: absolute;
    z-index: -1;
}

#landingBackgroundElement2 {
    width: 10%;
    height: 15%;
    bottom: 25%;
    left: 10%;
    position: absolute;
    z-index: -1;
}

#landingBackgroundElement3 {
    width: 35%;
    height: 75%;
    bottom: 0%;
    right: 0%;
    position: absolute;
    z-index: -1;
}

/* Hire Us Page */
body .main {
    padding: 0;
    margin: 0 10%;
}

.branding {
    margin: 20px 0;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.logo {
    width: 3rem;
}

#name {
    margin-left: 15px;
    font-size: 1.5rem;
}

/* Landing Page Content */
#landing-page-content {
    margin: 15% 0; 
    height: 100%;
    text-align: center;
}

.heading-subheading {
    margin: 200px 20%;
}

.main-heading {
    color: #1D263B;
    font-size: 40px;
    font-weight: 500;
}

.main-subheading {
    color: #5C6784;
    font-size: 20px;
    font-weight: 300;
}

.cta {
    background-color: #4CB963;
    width: 200px;
    height: 50px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
}

.cta:hover {
    background-color: #157F1F;
}

.cta span {
    color: #ffffff;
    font-size: 20px;
}

/* Our Services Page Content */
#our-services-page-content {
    margin: 10% 10% 0 10%;
}

div #services-headings {
    margin: 0 4.16% 40px 4.16%;
}

#our-services-container {
    display: inline-flex;
}

#our-services-container .step {
    width: 100%;
    margin: 0 4.16%;
}

#our-services-container .step .illustration {
    width: 150px;
    height: 90px;
}

.step h2 {
    font-size: 1rem;
    font-weight: 400;
}

.step p {
    font-size: 0.8rem;
    font-weight: 100;
}

@media (max-width: 800px) {
    #our-services-container {
        display: block;
    }
}

/* About Us Page Content */
#about-us-page-content {
    margin: 10% 14.16% 50px 14.16%;
}

#about-us-page-content h2 {
    margin-bottom: 40px;
    text-align: center;
}

#about-us-page-content p {
    margin: 30px 0;
}

#get-access-button {
    margin: 100px auto 0 auto;
    background: linear-gradient(45deg, #00ccff, #ff0000);
    display: block;
}

.twitter-validation {
    text-align: center;
}

/* Access Form Page Content */
#access-form-page-content {
    display: none;
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    position: fixed;
    top: 0;
    left: 0;
}

#escape-button {
    position: absolute;
    top: 3%;
    left: 10%;
}

#escape-button:hover {
    cursor: pointer;
}

#validation {
    width: 200px;
    display: block;
    margin: 120px auto 0 auto;
}

#access-form {
    width: 40%;
    margin: 0 30%;
}

#take-off-heading {
    margin: 30px 0 10px 0;
    text-align: center;
}

#exclusivity-subheading {
    margin: 0 0 20px 0;
    text-align: center;
}

form input, form textarea {
    margin: 5px 0 10px 0;
    background-color: rgba(0, 0, 0, 0.01);
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    box-sizing: border-box;
    font-family: 'Mulish', sans-serif;
}

#fullNameItem input {
    width: 100%;
    height: 30px;
    outline: none;
}

#emailItem input {
    width: 100%;
    height: 30px;
    outline: none;
}

#messageItem textarea {
    width: 100%;
    height: 50px;
    resize: none;
    outline: none;
}

form #final-cta {
    width: 100%;
    height: 80px;
    background-color: #4CB963;
    border: none;
    border-radius: 10px;
}

#final-cta #top {
    color: #ffffff;
    font-size: 200%;
    display: block;
}

#final-cta #bottom {
    color: #EBEBEB;
    display: block;
}

#final-cta:hover {
    cursor: pointer;
}

/* Background Elements */
/* Colors */
.green {
    background-color: rgba(21, 127, 31, 0.1);
}

.blue {
    background-color: rgba(160, 234, 222, 0.1);
}

.grey {
    background-color: rgba(92, 103, 132, 0.1);
}
/* Main */
#backgroundElement1 {
    width: 20%;
    height: 15%;
    top: 25%;
    left: 20%;
    position: absolute;
    z-index: -1;
}

#backgroundElement2 {
    width: 10%;
    height: 25%;
    top: 60%;
    left: 5%;
    position: absolute;
    z-index: -1;
}

#backgroundElement3 {
    width: 40%;
    height: 40%;
    top: 70%;
    right: 0;
    position: absolute;
    z-index: -1;
}

#backgroundElement4 {
    width: 20%;
    height: 40%;
    top: 120%;
    left: 0;
    position: absolute;
    z-index: -1;
}

#backgroundElement5 {
    width: 10%;
    height: 15%;
    top: 140%;
    right: 20%;
    position: absolute;
    z-index: -1;
}

#backgroundElement6 {
    width: 15%;
    height: 35%;
    top: 185%;
    left: 10%;
    position: absolute;
    z-index: -1;
}

#backgroundElement7 {
    width: 20%;
    height: 50%;
    top: 200%;
    right: 2%;
    position: absolute;
    z-index: -1;
}

#backgroundElement8 {
    width:10%;
    height: 20%;
    top: 255%;
    left: 1%;
    position: absolute;
    z-index: -1;
}
/* Form */
#formBackgroundElement1 {
    width: 35%;
    height: 10%;
    top: 0%;
    right: 0%;
    position: absolute;
    z-index: -1;
}

#formBackgroundElement2 {
    width: 10%;
    height: 25%;
    top: 20%;
    left: 5%;
    position: absolute;
    z-index: -1;
}

#formBackgroundElement3 {
    width: 40%;
    height: 15%;
    bottom: 5%;
    left: 20%;
    position: absolute;
    z-index: -1;
}

/* Error Page */
nav #error-branding {
    margin-top: 3%;
    justify-content: center;
}

#error-page-content {
    text-align: center;
    margin: 20vh;
}

#error-page-icon {
    width: 200px;
}

#error-heading {
    font-size: 60px;
}

.error-redirect-btn {
    height: 30px;
    margin: 10px;
    border: none;
}

.error-redirect-btn a {
    color: grey;
    text-decoration: none;
}